@use './variables' as vars;

body {
  font-family: vars.$font-family;
  font-size: 16px;
  color: vars.$text-color;
  background-color: vars.$background-color;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

p {
  line-height: 1.6;
}
